body {
  background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.front {
  position: relative;
  z-index: 1;
  margin-top: 25vh;
}

.text {
  font-size: 5rem;
  font-weight: bold;
  color: #d1bbff; 
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8), 0px 0px 20px #7e57c2, 0px 0px 30px #5c6bc0; /* Multi-layer glow effect */
  margin-bottom: 0.5rem;
  transition: color 0.5s ease, text-shadow 0.5s ease; 
}


.date {
  font-size: 1.5rem;
  color: #d4e2ff; 
  margin-bottom: 0px;
}

.verse {
  font-size: 0.7rem;
  text-decoration: none;
  color: #d4e2ff; 
}

.jani {
  font-size: 0.7rem;
  text-decoration: none;
  color: #d4e2ff;
}

.jani:hover {
  text-decoration: underline;
  color: #b3c7f9; 
}

.link {
  margin-top: 90px;
}

.name-display {
  font-size: 2rem;
  font-weight: 500;
  background-color: transparent;
  min-width: 300px;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b3c7f9;
  transition: all 0.5s ease-in-out;
}

.wish-display {
  font-size: 0.9rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d4e2ff; 
  transition: all 0.5s ease-in-out;
}

